/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("{{'Inter-Regular.ttf' | asset_url }}") format("truetype");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("{{ 'Inter-Medium.ttf' | asset_url }}") format("truetype");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("{{ 'Inter-SemiBold.ttf' | asset_url }}") format("truetype");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("{{ 'InterTight-Regular.ttf ' | asset_url }}") format("truetype");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(" {{ 'InterTight-Medium.ttf' | asset_url }}") format("truetype");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("{{ 'InterTight-SemiBold.ttf' | asset_url }}") format("truetype");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(" {{ 'InterTight-Bold.ttf' | asset_url }}") format("truetype");
}

/* vietnamese */
@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("{{ 'Newsreader-Italic.ttf ' | asset_url }}") format("truetype");
}

/* vietnamese */
@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("{{ 'Newsreader-MediumItalic.ttf' | asset_url }}") format("truetype");
}
