/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Inter-Regular.ttf") format("ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Inter-Medium.ttf") format("ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Inter-SemiBold.ttf") format("ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("InterTight-Regular.ttf") format("ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./InterTight-Medium.ttf") format("ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./InterTight-SemiBold.ttf") format("ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./InterTight-Bold.ttf") format("ttf");
}

/* vietnamese */
@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./Newsreader-Italic.ttf") format("ttf");
}

/* vietnamese */
@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("./Newsreader-MediumItalic.ttf") format("ttf");
}
